*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    margin: 10px;
    box-shadow: 3px 3px 3px 3px rgba(106, 106, 106, 0.932);
}
.image{
    width: 400px;
    height: 500px;
}
.image > img{
    height: 400px;
    width: 300px;
}
.Skill{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.Skill > .image, .Skill-info{
    background-color: #eee;
    padding: 1em;
}
.Skill > div:nth-child(odd){
    background-color: #ddd;
}

.Skills{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 2em;
    width: 200px;
    /* border: 2px blue solid; */
    margin-top:20px;
    /* padding: 50px; */
color:rgba(106, 106, 106, 0.932);
    
}
.Skills > div{
    /* border: solid red 2px; */
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(106, 106, 106, 0.932);
}
.Skill-info{
    width: 500px;
    height: 400px;
    margin-top: 50px;
}
.Skill-info > h5{
    font-size: 15px;
}
.myskill{
margin-top: 100px;
border: 2px solid greenyellow;
padding: none;


}
.myskill > h4{
text-align: center;
border: 2px solid purple;
background-color: rgba(106, 106, 106, 0.932);
color: white;
}

































/* #Container{ */
    /* display:grid; */
    /* background-color: whitesmoke; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 300px 300px; */
    /* width:900px; */
    /* padding:auto; */
    /* margin:20px 50px; */
/* } */

/* .box, img {
    height: 270px;
    width: 400px;
    background-color: gainsboro;
    margin: 10px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;

}

span > h2 {
    text-align: center;
    background-color:none;
    margin: auto ;
    width: 200px;
    align-content: center;
    color: rgb(0, 166, 255);
}



footer{
    background-color: rgb(36, 36, 36);
    height: 25px;

}


@media (max-width:900px){
  
    .about{ 
        padding: 50px 50px;
    } 
} */


























/* .about{
    padding: 2px 200px;
}
.image{
    height: 300px;
    width: 70%;
   
}

.image img{
    height: 100%;
    width: 100%;
}
.about-me{
     line-height: 1.5;
} */

