*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color: none;
    /* background-image: url('./../Img/bkg.png');
    background-size: cover; */
}


#Container{
    display:grid;
    background-color: whitesmoke;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    /* width:900px; */
    /* padding:auto; */
    margin:20px 50px;
}

.box, img {
    height: 270px;
    width: 400px;
    background-color: gainsboro;
    margin: 10px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;

}

span > h2 {
    text-align: center;
    background-color:none;
    margin: auto ;
    width: 200px;
    align-content: center;
    color: rgb(0, 166, 255);
}

#About{
display: flex;
justify-content: space-around;
background-color: whitesmoke;
margin-top: 30px;
margin-bottom: 30px;
height: 600px;
}
#my-image{
    height: 500px;
    box-shadow: 5px 5px 15px rgb(102, 101, 101) ;
    border-radius: 5px;
    margin-top: 50px;

}

footer{
    background-color: rgb(36, 36, 36);
    height: 25px;

}


@media (max-width:900px){
  
    .about{ 
        padding: 50px 50px;
    } 
}


























/* .about{
    padding: 2px 200px;
}
.image{
    height: 300px;
    width: 70%;
   
}

.image img{
    height: 100%;
    width: 100%;
}
.about-me{
     line-height: 1.5;
} */

