*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
   font-family: 'Roboto', sans-serif;
   background-image: url(../Img/filler.png);
   background-size: cover;
}

#Hero{
    line-height: 1.5;
    font-size: 3em;
    margin: auto; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#MoreInfo{
    border-radius: 5px;
    border: solid 2px white;
    background-color: transparent;
    width: 100px;
    padding: 2px;
    text-align: center;
}

.link{
    background-color: transparent;
    border: none;
    text-decoration: white;
}

#MoreInfo:hover{
    background-color: teal;
}
h1, p{
   color: white;
}


 /* Mobile */
@media (max-width:360px){
  
    #Hero{
        /* display: flex;
        padding: 50px 50px; */
        background-color: red;
        font-size: 1rem;
    }
}