*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Comfortaa', cursive;
   background-image: url(../Img/filler.png);
   background-size: cover;
}

#Hero{
    line-height: 1.5;
    font-size: 3em;
    margin: auto; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.InfoLink{
    font-size: 20px;
    height: 20px;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}

.InfoLink:hover{
background-color: teal;
}

h1, p{
   color: white;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
}


 /* Mobile */
@media (max-width:360px){
  
    #Hero{
        /* display: flex;
        padding: 50px 50px; */
        background-color: red;
        font-size: 1rem;
    }
}